<%- include('includes/user-header') %>
    <div class="Order_summery_contener">
        <form action="/orderSummery/:id" method="post">
       <div class="Ordersummary_steps">
            <div class="ordersummary_login">
                <h3>1 Signin or login</h3>
                <hr>
                <div class="ordersummary_email">
                        <h3>mr. <%=username%> here is your order</h3>
                        <span>By continuing, you agree to Our Terms of Use.</span>
                        <!-- <button id="step1_cont" onclick=" displaystep2()">Continue</button> -->
                  
                </div>
            </div>
            <div class="ordersummary_delivery_address">
                <h3>2 Delivery Address</h3>
                <hr>
                <div class="delivery_address_details">
                       <!-- <button id="address_location">use my current location</button> -->
                      <div>
                        <input type="text" name="name" id="Name"  placeholder="Name">
                        <input type="number" name="mobile" id=" mobil" placeholder="10-digit mobile number">
                      </div>
                       <div>
                        <input type="number" name="pincode" id="Pincode" placeholder="Pincode">
                        <input type="text" name="locality" id="Locality" placeholder="Locality">
                       </div>
                       <div>
                        <input type="text" name="address" id="address" placeholder="ADDRESS(Area and Street)">
                       </div>
                      <div>
                        <input type="text" name="city" id="city" placeholder="City">
                        <input type="text" name="state" id="state" placeholder="state">
                      </div>
                      <div>
                        <input type="text" name="landmark" id="landmark" placeholder="enter your land mark(optional)">
                        <input type="text" name="altmobile" id="altmobile" placeholder="alternative mobile no(optional)">
                       
                      </div>
                       <p>Address type</p>
                      <div class="delivery_place">
                        <input type="radio" name="addrestype" id="address_home">
                        <label for="address_home">Home(All day delivery)</label>
                        <input type="radio" name="addrestype" id="address_work">
                        <label for="address_work">Work(delivery only on working days)</label>
                       </div>
                       <hr>
                       <!-- <button id="save_adress">SAVE</button>
                       <button id="add_address">+ Add address </button> -->
                </div>
            </div>
            <div class="ordersummary_detail">
                <h3>3 Order Detail</h3>
                <hr>
                <div class="h_product_card">
                  <div class="product_img_container">
                      <img src="/uploads/images/<%=oneproduct.image[0]%>" alt="image">
                  </div>
                  <div class="card_detail">
                      <h3><%=oneproduct.name%></h3>
                      <div class="product_price">
                          <h3>₹<%=oneproduct.price%></h3>
                      </div>
                      <div class="product_rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i> 
                      </div>
                  </div>
            </div>
            <div class="ordersummary_paymentoption">
               <hr>
                <h3>4 Payment Options</h3>
                <hr>
                <div class="peyment_method">
                 <div>
                  <input type="radio" name="paymentoption" id="payon_delivery">
                  <label for="payon_delivery">Pay on delivery</label>
                 </div>
                 <div>
                  <input type="radio" name="paymentoption" id="credit_card">
                  <label for="credit_card">debit/credit card</label>
                 </div>
                 </div>
                 <input type="submit" name="order" id="sumbit_order" >
            </div>
       </div>
    </form>
    </div>
  
    <script type="text/javascript" src="./js/Ordersummery.js"></script>
</body>
</html>